<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
    <header>
    <img src="https://assets.nintendo.com/image/upload/f_auto,q_auto/Dev/aem-component-demo/logo-amiibo-glow?v=2022042017" class="logo" alt="Amiibo" srcset="">
    <h1>Homepage</h1>
    </header>
    <%=Amiibo[0] %>
    <button onclick="window.location.href= '/edit' " type=" button" name="button">Edit Page</button>
    <button onclick="window.location.href= '/new' " type=" button" name="button">New Page</button>
    <button onclick="window.location.href= '/show' " type=" button" name="button">Show Page</button>



</body>
</html>