
body {
    background-image: url(http://b.thumbs.redditmedia.com/2eHe-LtrTfOzww8YBfxZTbqP7prCZqd-fxyRAcvATpc.png);
}
#navbar {
    display: none;
}
button:hover {
    box-shadow: 5px 5px 5px 5px black;
}
.showName {
    font-family: snes;
    font-size: 6em;
    color: red;
    text-shadow: 5px 5px 10px black;
    text-align: center;
}
#nameIndex {
    font-family: snes;
    font-size: 4em;
}
#deleteName {
    font-family: snes;
    font-size: 6em;
    color: red;
    text-shadow: 5px 5px 10px black
}
#news {
    background-color: rgb(231, 85, 110);
}
.editName {
    font-family: snes;
    font-size: 6em;
    color: red;
    text-shadow: 5px 5px 10px black
}
#showInfo {
    font-family: snes;
    background: rgb(233, 233, 233)
}
#showLi {
    font-size: 1.2em;
}
ul {
    list-style: none;
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 60px; overflow: hidden;
}
.tag {
    font-size: .8em;
}
#toTop {
    font-size: 2em;
    color: rgb(231, 85, 110);

}
.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* ===================================Animations===================================== */
/* view page img */
.slide-in-fwd-center {
	-webkit-animation: slide-in-fwd-center 1000ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-fwd-center 1000ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* edit page img */
.roll-in-blurred-left {
	-webkit-animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
 /* * ----------------------------------------
 * animation slide-in-fwd-center
 * ---------------------------------------- */
/* view page img keyframes */
@-webkit-keyframes slide-in-fwd-center {
    0% {
        -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
            transform: translateZ(0);
        opacity: 1;
    }
}
@keyframes slide-in-fwd-center {
    0% {
        -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
        opacity: 0;
}
    100% {
        -webkit-transform: translateZ(0);
            transform: translateZ(0);
        opacity: 1;
    }
}

/*
 * ----------------------------------------
 * animation roll-in-blurred-left
 * ----------------------------------------
 */
 /* edit page img keyframes */
@-webkit-keyframes roll-in-blurred-left {
    0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
            transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
    }
    100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
    }
}
@keyframes roll-in-blurred-left {
    0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
            transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
    }
    100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
    }
}

#news:before {
    content: 'Nintendo News';
}
@media only screen and (max-device-width: 770px) {
    #news:before {
        content: 'News';
    }
}
#add:before {
    content: 'Add Amiibo';
}
@media only screen and (max-device-width: 770px) {
    #add:before {
        content: 'Add';
    }
}
/* ===================================media queries===================================== */


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

}