.mainContainer {
    max-width: 1200px;
    display: flex;
    justify-content: center;
}
.header{
    max-width: 1200px;
}
ul {
    text-align: center;
}
.indexImg {
    width: 100%;
    max-width: 428px;
}
/* #catalog {
    display: flex;
    justify-content: center;
} */